@tailwind base;
@tailwind components;
@tailwind utilities;

/* 背景を淡い灰色に戻す */
body {
  background-color: #f5f5f5; /* 淡い灰色 */
}

.header {
  background-color: rgba(255, 255, 255, 0.9); /* 白の背景 */
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); /* 軽いボーダーで区切り */
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.05); /* ほんのりシャドウ */
}

footer {
  background-color: rgba(255, 255, 255, 0.9); /* フッターも白に */
  color: rgba(0, 0, 0, 0.6); /* テキストをグレーに */
  padding: 0.5rem;
}

